
.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-color: #f7f7f7;
  font-family: 'Arial', sans-serif;
}

.back-link {
  display: block;
  font-size: 16px;
  color: #4c8bf5;
  margin-bottom: 20px;
  text-decoration: none;
  font-weight: 600;
}

.back-link:hover {
  text-decoration: underline;
}

.post-container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 15px;
}

.content {
  font-size: 18px;
  color: #666;
  line-height: 1.5;
}

.tags {
  margin-top: 10px;
  font-size: 18px;
  color: #4b4b4b;
}

.tag-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.category {
  margin-top: 10px;
  font-size: 18px;
  color: #4b4b4b;
}

.update-btn:hover {
  background-color: #3572d4;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.update-btn{
  margin-top: 20px;
  margin-right: 10px;
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;

}

.delete-btn {
  margin-top: 20px;
  padding: 10px 15px;
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: #ff1a1a;
}

/* Mobile responsive */
@media (max-width: 768px) {
  .container {
    padding: 15px;
  }

  .title {
    font-size: 20px;
  }

  .content {
    font-size: 16px;
  }

  .tags,
  .category {
    font-size: 16px;
  }

  .post-container {
    padding: 15px;
  }

  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .back-link {
    margin-bottom: 10px;
  }

  .update-btn{
    width: 100%;
    padding: 12px;
  }

  .delete-btn {
    width: 100%;
    padding: 12px;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 18px;
  }

  .content {
    font-size: 14px;
  }

  .tags,
  .category {
    font-size: 14px;
  }

  .delete-btn {
    padding: 12px;
  }

  .update-btn{
    padding: 12px;
  }
}
